// INDEX

// iconos
.hero__rrss a img, 
.footer__rrss a img,
.icon-menu{
    width: 30px;
    padding-right: 20px;
}
.hero__flecha{
    width: 30px;   
}
// Imagenes card
.card__img{
    width: 300px;
    border-radius: 10px 10px 0 0;
    box-shadow: 2px 1px 2px #BCB8B130;
}
// SOBRE MI
.sobre-mi__imagen{
    max-width: 100%;
}

